
    <h5>Add Your Organization</h5>
    
    <p>Fill out this form with the details of your organization.</p>

<form>
    <p class="txt-sm"><span class="field-star" aria-hidden="true">*</span>Fill the required fields</p>

    <div class="field">
        <label for="orgname" class="field-label">Organization Name <span class="field-star" aria-hidden="true">*</span></label>
        <input type="text" id="address2" aria-required="true" class="field-input" />
    </div>

    <div class="field">
        <label for="phone" class="field-label">Phone number</label>
        <input type="number" id="phone2" class="field-input" />
    </div>

    <div class="field">
        <label for="email" class="field-label">Email</label>
        <input type="text" id="email" class="field-input" />
    </div>

    <div class="address">
        <h3>Address</h3>
        <div class="field">
            <label for="streetline1" class="field-label">Streetline 1 <span class="field-star" aria-hidden="true">*</span></label>
            <input type="text" id="streetline1" class="field-input" />
        </div>
        <div class="field">
            <label for="streetline2" class="field-label">Streetline 2 <span class="field-star" aria-hidden="true">*</span></label>
            <input type="text" id="streetline2" class="field-input" />
        </div>
        <div class="field">
            <label for="city" class="field-label">City <span class="field-star" aria-hidden="true">*</span></label>
            <input type="text" id="city" class="field-input" />
        </div>
        <div class="field">
            <label for="state" class="field-label">State <span class="field-star" aria-hidden="true">*</span></label>
            <input type="text" id="state" class="field-input" />
        </div>
        <div class="field">
            <label for="zipcode" class="field-label">Zipcode <span class="field-star" aria-hidden="true">*</span></label>
            <input type="number" id="zipcode" class="field-input" />
        </div>
        <button class="btnMain">Save</button>
    </div>
    <br />
    <a href="">+ Add Address</a>
    <p></p>
    <button class="btnMain">Submit Organization</button>
</form>


@code {

}

