<div>
    <h5>Make a Request</h5>
    <p>
        Let your community members know what you need!
        We want everyone to be safe, so we ask that you leave your top 3 location options where your items can be dropped off for you to pick up.
        Requests will be removed after 14 days if there are no responses.
    </p>

    <input type="text" placeholder="Name" />
    <br>
    <input type="email" placeholder="Email" />
    <br>
    <input type="number" placeholder="Phone" />
    <br>

    Please select your request type
    <br>
    <input type="radio" id="items" value="Items" />
    <label for="items">Items</label>
    <br>
    <input type="radio" id="funds" value="Funds" />
    <label for="funds">Funds</label>
    <br>

    @*<label for="itemSelect">What Items Do You Need?</label>
    <select id="itemSelect" name="itemSelect">
        <option>Apples</option>
        <option>Socks</option>
        <option>Cold Medicine</option>
        <option>Bread</option>
    </select>
    <br>

    Top 3 Dropoff Locations
    <br>

    Notes
    <br>
    <input type="text" />
    <br>*@

    <button>Submit</button>
</div>

@code {
    
}

